<?xml version="1.0" encoding="utf-8"?>


<odoo>
    <record id="quitjob_manage.reason_action" model="ir.actions.act_window">
        <field name="name">reasons</field>
        <field name="res_model">quit.reason</field>
<!--        <field name="context">{}</field>-->
        <field name="type">ir.actions.act_window</field>
        <field name="view_mode">tree,form</field>
    </record>


    <record id="quitjob_manage.employee_req" model="ir.actions.act_window">
        <field name="name">Resignation Request</field>
        <field name="res_model">employee.req</field>
        <field name="type">ir.actions.act_window</field>
        <field name="context">{'group_by':['create_date','status']}</field>
        <field name="view_mode">tree,form</field>
    </record>




    <menuitem id="quitjob_manage.employee_menu"
              name=" Quit J Manage"/>

    <menuitem id="quitjob_manage.employee_req_menu"
              name="Resignation Request"
              groups="base.group_user"
              parent="hr.menu_hr_root"
              action="quitjob_manage.employee_req"/>

    <menuitem id="quitjob_manage.reason"
              name="Add quit job reason"
              parent="hr.menu_human_resources_configuration"
              action="quitjob_manage.reason_action"/>



</odoo>